<div class="container">
  <h2>All Contacts</h2>

<p>
  <input ng-model="searchText" placeholder="Search Contacts" class="form-control" style="width:400px;" maxlength="50">
</p>
  <div class="pull-left">
    <a href="#!/contacts/add" title="Add New Contact"><img src="images/add-contact.ico" width="30px;"></img></a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Phone</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts | filter:searchText">
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.phone}}</td>
        <td><a href="#!/contacts/edit/{{contacts.indexOf(contact)}}" title="Edit Contact"><img src="images/edit-icon-24.png" alt="Edit Contact"></img></a>
        <a href="#" ng-click="removeContact(contact)" title="Remove Contact"><img src="images/remove-icon-24.png"></img></a></td>
      </tr>
    </tbody>
  </table>
</div>
